@page "/{game}"
@using SkiaSharp.Views.Blazor
@using WebGal.Global
<div @oncontextmenu:preventDefault="true" @oncontextmenu="()=>{return;}">
	<SKGLView @onmousemove="OnMouseMove" @onmouseup="OnMouseUp" @onmousedown="OnMouseDown"
		style=@($"width: {SceneConfig.DefaultWidth}px; height: {SceneConfig.DefaultHeight}px; border: 2px solid;")
		EnableRenderLoop="true" IgnorePixelScaling="true" OnPaintSurface="OnPaintSurface" />
</div>

@foreach (var (_, audio) in _loopAudios)
{
	<audio autoplay="true" loop="true" src="@audio" />
}

@foreach (var (_, audio) in _oneShotAudios)
{
	<audio autoplay="true" src="@audio" />
}

<p>@(_mousePos.X),@(_mousePos.Y)</p>
<p>FPS: @_fps</p>


@* <button @onclick="OnButtClick">click here</button> *@