@page "/{game}"
@using SkiaSharp.Views.Blazor
@using WebGal.Global

<div @oncontextmenu:preventDefault="true" @oncontextmenu="()=>{return;}">
	<SKGLView @onmousemove="OnMouseMove" @onmouseup="OnMouseUp" @onmousedown="OnMouseDown"
		style=@($"width: {SceneConfig.DefaultWidth}px; height: {SceneConfig.DefaultHeight}px; border: 2px solid; box-sizing: content-box")
		EnableRenderLoop="true" IgnorePixelScaling="true" OnPaintSurface="OnPaintSurface" />
</div>

<p>@(_mouseEvent.Position.X),@(_mouseEvent.Position.Y)</p>
<p>FPS: @_fps</p>


@* <button @onclick="OnButtClick">click here</button> *@